<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea enim accusamus vitae corporis tempore, laborum suscipit assumenda ut saepe! Ipsam maxime nostrum, consequatur laudantium et voluptas nobis rerum voluptates necessitatibus.
  Quam ut enim cupiditate hic consequatur ipsum, tempore recusandae. Reiciendis, minima. Fugiat, molestiae tempore rerum architecto optio minus enim adipisci nemo omnis illo iusto ab officia nostrum explicabo consectetur officiis!
  Tempore quae molestias exercitationem ab ut rem praesentium, nobis blanditiis, quis laudantium doloribus ea similique amet et. Nam libero, quas omnis maiores quaerat est eligendi ab quia possimus officiis fuga!
  Aliquam laudantium placeat blanditiis fuga molestias ab esse ut nemo itaque! Quas vel temporibus dignissimos vitae sunt alias facilis quidem, laudantium ex officiis velit totam fugit repellat veritatis aspernatur minima?
  Quia sed, quo illum at blanditiis similique tenetur esse nostrum expedita possimus. Fuga eum beatae blanditiis nisi repellendus quas quo, ullam perspiciatis porro doloremque quisquam fugit perferendis nobis, reiciendis consectetur.
  Debitis placeat iure aperiam aliquid voluptatum officia facere est, ipsa eius, incidunt velit blanditiis perferendis repellendus id amet in corporis sit optio temporibus porro nostrum vel exercitationem nemo tempora! Itaque!
  Expedita, aperiam ipsam perspiciatis molestias praesentium consequatur ducimus corporis totam at itaque voluptatem rem sunt officiis sint ex voluptate. Vel aliquid dolor necessitatibus, neque ratione reiciendis iste aliquam! Voluptatem, vitae.
  Minima, corporis possimus ipsum nemo deleniti laborum quo ipsa officia voluptates quis facilis aperiam neque, aliquid eaque nobis culpa. Officiis at facilis ipsam unde aperiam possimus vel, deleniti eligendi autem?
  Accusantium maiores fugiat error sit architecto ut magni enim placeat, temporibus, a id. Obcaecati quod aut dolores necessitatibus, quisquam rem molestiae, earum corrupti maxime, repellat vero nemo blanditiis esse cupiditate.
  Iure, quia! Veniam iusto ea enim placeat sequi, autem totam ullam ab obcaecati, id, quibusdam fugiat? Qui, inventore, culpa sunt veniam ducimus quisquam cupiditate quam rerum, illum cumque similique quasi.
</p>


<footer>
  <h1>
    Este es el footer {{res}}
  </h1>
  <button (click)="emitir('calamar')">pressient</button>
</footer>
