<h1>Hola mundo</h1>

<h2>{{'Hola mundo'.repeat(5)}}</h2>
<p>3+3={{3+3}}</p>
<h3>Hola soy {{name}} y tengo {{age}}</h3>
<img src="{{img}}" alt="image" width="200px" height="200px">
<h1>Propiedades</h1>

<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name">
<progress max = "100" [value]="person.age"></progress>
<button (click)="toggleButton()">Toggle Button</button>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, unde, doloribus ab quas nulla velit rerum harum voluptatum tempora repudiandae cupiditate! Quo cum soluta, suscipit consectetur corrupti incidunt quae placeat?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quibusdam perferendis deleniti, aperiam nihil, vitae quo ut ea et corrupti veritatis culpa? Voluptatum in corporis dolor maiores, cumque molestiae temporibus.
    Non aliquam perspiciatis neque velit animi hic amet quasi placeat, quod magni modi atque quaerat, reiciendis impedit exercitationem ad obcaecati quos pariatur! Eum, molestias. Vel sit alias dolore officia quis.
  </p>
</div>
<input type="text" (select)="seleccionado($event)">

<h1>Ng Model</h1>

<input type="text" [(ngModel)]="pais.nombre" #nameInput="ngModel" required="" minlength="5">
<div>
  Tu pais : {{pais.nombre}}
</div>
<p>

  Valid: {{nameInput.valid}}
</p>
<h1>
  *ngIf
</h1>
<p *ngIf="!false">My Content</p>
<input type="text" [(ngModel)]="pais.nombre" required="">
<p *ngIf="pais.nombre==='Brasil'">Eres Brasileiro</p>
<p *ngIf="pais.nombre==='Argentina';else elseBlock">Eres Gaucho</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<h1>*ngFor</h1>
<ul>
  <li *ngFor="let name of names">
    {{name}}
  </li>
</ul>
<ol type="I">
  <li *ngIf="names.length===0">
    No hay nombres
  </li>

  <li *ngFor="let name of names;index as i">
    {{names[i]}}
    <button (click)="removeE(i)">Delete</button>
  </li>
</ol>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName($event)">add Name</button>
<hr>
<h1>Renderizado de emojis</h1>
add remove modif
<ol type="a">
  <li *ngFor="let em of emojis;index as i">
    emoji :
    <input type="text" [(ngModel)]="emojis[i]">
    <button (click)="delete(i)">Eliminar</button>
  </li>
</ol>
<div class="agregar">
  <input type="text" [(ngModel)]='newEmoji'>
  <button (click)="agregar()" *ngIf='newEmoji.length > 0;else template'>Agregar emoji</button>
  <ng-template #template>
    No se agrego nada
  </ng-template>
</div>




<h1>*ngFor Objs</h1>
<div class='products--grid'>
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">

<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">

<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">Texto texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [src]="person.avatar" [style.width.%]="widthImg">
  </div>
</div>


<h1>ngSwich</h1>
<input type="text" required [(ngModel)]="person.name" #validar="ngModel">
<textarea>{{validar.valid}}</textarea>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    la persona es nicolas
  </p>
  <p *ngSwitchCase="'marcelo'">
    Eres el rabano
  </p>
  <!--El defaut-->
  <p *ngSwitchDefault>
    No hace match
  </p>
</div>

<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error" [ngClass]="{
  'valid':nameInput4.valid,
  'invalid':nameInput4.invalid
}">
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="box.width">
    <input type="text" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px' : box.width,
      'height.px' : box.height,
      'background-color' : box.background,
      'display':'block'
    }"></div>
  </div>
</div>
<h1>Formulario</h1>
<form #myForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" id="name" [(ngModel)]="register.name" required="" name="name">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Nombre</label>
    <input type="email" id="email" [(ngModel)]="register.email" required="" name="email">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Nombre</label>
    <input type="password" id="password" [(ngModel)]="register.password" required="" name="password">
    <p>Mensaje de error</p>
  </div>

  <button type="submit" [disabled]="myForm.invalid">Registrar</button>
</form>
<app-footer [res]="'marcelo oso'" (rta)="mostrar($event)">
</app-footer>
